/* Fontes */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/* Cores do CSS */
$bg-pagina:#f6f6f6;
$titulo-planos:#01508c;
$fundo-planos-hover:#FFF;
$btn-plano:#ec0928;
$precos-aparelhos:#acacac;

body {
    background-color:$bg-pagina;
    font-family: 'Lato', sans-serif;
    font-size:10px;
}

div, div:hover,
button, button:hover {
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
        }

.panel-heading,
.panel-body {
    font-size: 1.4rem;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.btn-planos {
    div {
        div {
            width:100%;
            > i {
                font-size:60px;
            }
            > h2 {
                margin:5px 0 0 0;
                font-size:2rem;
            }
            > p {
                font-size:1.3rem;
            }
        }
    }
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000; 
    > h1 {
    opacity: 1;
    color: black;
     }
  }

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

h1.titulo {
        margin:0 0 20px 0;
        font-size:2rem;
        color:$titulo-planos;
        text-transform: uppercase;
    }

.container-planos {
   > div {
         > div {
            border-radius:5px;
            padding:20px;
            text-align:center;

            i {
                font-size:3rem;
                margin: 20px 0;
            }

            p.franquia {
                font-size:5rem;
                font-weight: bold;
                margin-bottom:0;
                color:$titulo-planos;
            }

            p.valor-plano,
            p.preco-aparelho,
            p.preco-aparelho-parcela {
                font-size:1.4rem;
                margin-top:-10px;
            }

            p.aparelho {
                font-size:2.2rem;
                text-transform: uppercase;
            }

            p.preco-aparelho-parcela {
                font-size:1.2rem;
                 color:$precos-aparelhos;
            }
        }
        > div:hover {
            p, i {
                color:$fundo-planos-hover;
            }
            .btn-plano {
                background-color:$btn-plano;
                color:$fundo-planos-hover;
            }
            background-color: $titulo-planos;
            cursor:pointer;
        }
        
   }
}

.btn-plano {
    margin-top:20px;
    text-transform: uppercase;
    padding:10px 15px;
    border:1px solid $btn-plano;
    background-color:$fundo-planos-hover;
    color:$btn-plano;
}

.btn-plano:hover {
        background-color:$btn-plano;
        color:$fundo-planos-hover;
}

.modal-content {
    padding:25px;
    font-size:1.4rem;
}

.form-group label.required:after {
  content:" *";
  color:$btn-plano;
}

.help-block {
    :before {
       content:"* ";
    }
    font-size:1.1rem;
    color:$btn-plano;
}

.cancel-container {
    > a {
        float:right;
    }
    > a:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}