/* Estilo para dispositivos móveis */
@media only screen and (max-device-width: 990px) {
    .btn-planos {
        >div {
            >div {
                margin:10px;
            }
        }
    }
    body .container-planos {
        > div {
                i {
                    text-align: center;
                    margin:10px 0;
                    font-size:2rem;
                }
            }
    }

}