<!DOCTYPE html>
<html lang="en" ng-app="SelecaoPlano">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>Seleção Plano CD</title>
	<link rel="stylesheet" href="css/frameworks-min.css">
	<link rel="stylesheet" href="css/estilo.css">
	<link rel="stylesheet" href="css/estilo.mobile.css">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>

<body class="ng-cloak" ng-controller="PrincipalController as principal">

	<loading></loading>

	<div class="container">
		<div class="row">

			<div class="col-xs-12 col-sm-10 col-sm-offset-1">
				<div class="panel-group">
					<div class="panel panel-primary">
						<div class="panel-heading">Seleção de Planos CD</div>
						<div class="panel-body">

							<div class="form-group btn-planos">
								<div class="col-xs-12 col-sm-4" ng-repeat="plataforma in principal.plataformas">
									<div ng-click="principal.SelecionaPlano(plataforma.sku)" class="btn btn-default btn-lg active" role="button">
										<i class="fa fa-{{ plataforma.icone }}" aria-hidden="true"></i>
										<h2 class="text-uppercase"><strong>{{ plataforma.nome }}</strong></h2>
										<p>{{ plataforma.descricao }}</p>
									</div>
								</div>
							</div>



							<div ng-show="principal.planosAtivos">
								<div class="col-xs-12">
									<hr />
								</div>

								<div class="col-xs-12 container-planos">

									<h1 class="<titulo></titulo>">
										Planos para <strong>{{principal.plataformaSelecionada}}</strong>
									</h1>

									<div ng-repeat="plano in principal.planosAtivos">
										<div ng-click="principal.openModal(plano.sku)" class="col-xs-12 col-sm-{{principal.cols}}">
											<div class="row">
												<div class="col-sm-12 col-xs-6">
													<p class="franquia">{{plano.franquia}}</p>
													<p class="valor-plano">por <strong>R$ {{plano.valor}}</strong>/mês</p>
												</div>

												<div class="col-sm-12 col-xs-6">
													<span ng-if="plano.aparelho.nome">
													<i class="fa fa-plus" aria-hidden="true"></i>

													<p class="aparelho"><strong>{{plano.aparelho.nome}}</strong></p>
													<p class="preco-aparelho">por <strong>R$ {{plano.aparelho.valor}}</strong></p>
													<span ng-if="plano.aparelho.valorParcela != false">
														<p class="preco-aparelho-parcela">(ou {{plano.aparelho.numeroParcelas}}x de <strong>R$ {{plano.aparelho.valorParcela}}</strong>)</p>
													</span>
													</span>
												</div>
											</div>
											<div class="col-xs-12">
												<hr class="hidden-xs" />
												<button type="button" class="btn btn-plano">Contratar Agora</button>
												<hr class="visible-xs" />
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

			</div>
		</div>


		<!-- Addjs -->
		<script src="js/frameworks-min.js"></script>
		<script src="js/scripts-min.js"></script>

</body>

</html>