<div>
    <div class="cancel-container">
        <a ng-click="principal.fechaModal()" href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
    </div>
    
    <h1 class="titulo">Complete o cadastro</h1>
    <hr />
    <div class="row container-form">
        <div class="col-xs-12">
            <p class="text-uppercase"><strong>Plano Selecionado:</strong> {{principal.selecaoPlanoCliente.plataforma}}, {{principal.selecaoPlanoCliente.plano.franquia}}
                por R$ {{principal.selecaoPlanoCliente.plano.valor}}</p>
        </div>
        <form name="frmCadastro" novalidate>
            <div class="form-group col-xs-12">
                <label class="required" for="nome">Nome Completo:</label>
                <input ng-model="principal.selecaoPlanoCliente.nome" name="nome" type="text" class="form-control" ng-minlength="5" required>
                <div class="help-block" ng-messages="frmCadastro.nome.$error" ng-if="frmCadastro.nome.$touched">
                    <p ng-message="minlength">Digite o nome corretamente (Precisa ser nome completo).</p>
                    <p ng-message="required">Preencha seu nome completo.</p>
                </div>
            </div>
            <div class="form-group col-xs-12">
                <label class="required" for="email">E-mail:</label>
                <input ng-model="principal.selecaoPlanoCliente.email" name="email" type="email" class="form-control" id="email" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'
                    required>
                <div class="help-block" ng-messages="frmCadastro.email.$error" ng-if="frmCadastro.email.$touched">
                    <p ng-message="required">Preencha seu e-mail</p>
                    <p ng-message="pattern">Preencha seu e-mail corretamente</p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4">
                <label class="required" for="nascimento">Nascimento:</label>
                <input ng-model="principal.selecaoPlanoCliente.nascimento" name="nascimento" type="nascimento" class="form-control" id="nascimento"
                    ui-mask="99/99/9999" ng-minlength="10" required>
                <div class="help-block" ng-messages="frmCadastro.nascimento.$error" ng-if="frmCadastro.nascimento.$touched">
                    <p ng-message="minlength">Preencha sua data de nascimento</p>
                    <p ng-message="required">Preencha sua data de nascimento</p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4">
                <label class="required" for="cpf">CPF:</label>
                <input ng-model="principal.selecaoPlanoCliente.cpf" name="cpf" type="cpf" class="form-control" id="cpf" ui-mask="999.999.999-99"
                    ng-minlength="14" required>
                <div class="help-block" ng-messages="frmCadastro.cpf.$error" ng-if="frmCadastro.cpf.$touched">
                    <p ng-message="minlength">Preencha corretamente seu cpf</p>
                    <p ng-message="required">Preencha seu cpf</p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4">
                <label class="required" for="telefone">Telefone:</label>
                <input ng-model="principal.selecaoPlanoCliente.telefone" name="telefone" type="telefone" class="form-control" id="telefone"
                    ui-mask="?(99) 99999-9999" ng-minlength="14" required>
                <div class="help-block" ng-messages="frmCadastro.telefone.$error" ng-if="frmCadastro.telefone.$touched">
                    <p ng-message="minlength">Preencha corretamente seu telefone</p>
                    <p ng-message="required">Preencha seu telefone</p>
                </div>
            </div>
            <div class="col-xs-12">
                <button ng-click="principal.enviarDados()" ng-disabled="frmCadastro.$invalid" class="btn btn-primary text-uppercase">Contratar Plano</button>
            </div>
        </form>
    </div>

</div>